Package: org.coolstar.stash933
Name: Stashing for iOS 9.2 - 10.2
Version: 1.5.0-1
Architecture: iphoneos-arm
Description: Stashing for iOS 9.2 - 10.2
Maintainer: CoolStar
Author: CoolStar
Section: System
